<div class="card">
  <div class="card-header d-flex">
    <div>
      <%= @simulation.name %>
    </div>
    <span id="run-simulation-button" class="ml-auto"><%= link "Run Simulation", to: simulation_path(@conn, :run, @simulation), method: :post, class: "btn btn-primary" %></span>
  </div>
</div>




